<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Travel Packages</title>
</head>
<body>
<h1>Travel Packages</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Destination</th>
        <th>Duration</th>
        <th>Price Per Person</th>
        <th>Starting Date</th>
        <th>Ending Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="package : ${packages}">
        <td th:text="${package.id}"></td>
        <td th:text="${package.name}"></td>
        <td th:text="${package.destination}"></td>
        <td th:text="${package.duration}"></td>
        <td th:text="${package.pricePerPerson}"></td>
        <td th:text="${#temporals.format(package.startingDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${#temporals.format(package.endingDate, 'yyyy-MM-dd')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>